.todoAdd {
    background-color: #ffad4a;
    width: 500px;
    height: 80px;
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, .2);
}

.todoAdd__input {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    border: none;
    width: 70%;
    height: 30px;
    outline: none;
    padding: 0 15px;
}

.todoAdd__btn {
    background-color: #de8b27;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 5px 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.todoAdd__btn:hover {
    background-color: #b97421;
}